@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

.active{
    background-color: #c8bdd1;
    border-color: #997db0
}
*{
    font-family:Outfit;
}
select,input,textarea{
    border:1px solid #c8bdd1;
    outline-color: #997db0;
    border-radius: 4px;
}
